force-app/main/default/flows/API_ISS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>crewlabel</name>
        <label>crewlabel</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>CWCHRT3::isscrewnew.getAstrosx2ejson</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>ISS</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ISS</name>
        <label>ISS</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>CWCHRT3::ISS.getIss-nowx2ejson</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>scr</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assig</name>
        <label>assig</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>multi</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>crewlabel.200.people</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>convertUnixTimetoDatetime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(MID(TEXT({!ISS.200.timestamp}/1000),1,10) + MID(&apos;1970-01-01T00:00:00Z&apos;,11,8))</expression>
    </formulas>
    <interviewLabel>API ISS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>API ISS</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>multi</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>scr11</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>scr</name>
        <label>scr</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assig</targetReference>
        </connector>
        <fields>
            <name>text1</name>
            <fieldText>&lt;p&gt;{!crewlabel.200.people}&lt;/p&gt;&lt;p&gt;Current time (UNIX TIME): {!ISS.200.timestamp}&lt;/p&gt;&lt;p&gt;Datetime: {!convertUnixTimetoDatetime}&lt;/p&gt;&lt;p&gt;Status: {!ISS.200.message}&lt;/p&gt;&lt;p&gt;Latitude: {!ISS.200.issx5fposition.latitude}&lt;/p&gt;&lt;p&gt;Longitude: {!ISS.200.issx5fposition.longitude}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr11</name>
        <label>scr11</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <fields>
            <name>scr22</name>
            <fieldText>&lt;p&gt;{!loop.craft}&lt;/p&gt;&lt;p&gt;{!loop.name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>crewlabel</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>multi</name>
        <apexClass>ExternalService__CWCHRT3__isscrewnew_inlinex5fresponsex5f200_people</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>single</name>
        <apexClass>ExternalService__CWCHRT3__isscrewnew_inlinex5fresponsex5f200_people</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
