force-app/main/default/flows/API_MTO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MTO</name>
        <label>MTO</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>CWCHRT3::MTO.getV1Currentx2ejson</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>text</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>aqi</name>
            <value>
                <stringValue>no</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>4001457782ed4571a56194623230603 </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>q</name>
            <value>
                <elementReference>Enter_Your_Zip_Code</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>API MTO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>API MTO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>scr_mto_1</name>
        <label>scr mto 1</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MTO</targetReference>
        </connector>
        <fields>
            <name>Enter_Your_Zip_Code</name>
            <dataType>String</dataType>
            <fieldText>Enter Your Zip Code or City Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>text</name>
        <label>text</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text1</name>
            <fieldText>&lt;p&gt;C = {!MTO.200.current.tempx5fc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scr_mto_1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
