force-app/main/default/flows/Experience_FlowFest_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assignCountry</name>
        <label>assignCountry</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>singleLead.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_country_are_you_representing_supporting_i_e_your_nationality_residence_etc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createlead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>counterAssignment</name>
        <label>counterAssignment</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>leadCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getLeads</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Experience_FlowFest_Registration_v2_0_Screen_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>singleLeadAssignment</name>
        <label>singleLeadAssignment</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>singleLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Represent_Support_your_Company_See_your_company_in_the_leaderboard_against_other</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>registrationtypecom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>spectatorassign</name>
        <label>spectatorassign</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>singleLead.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cheer_on_your_colleagues_what_country_are_you_supporting_i_e_your_nationality_re</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createlead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>stageAssignment</name>
        <label>stageAssignment</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sonekran</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>registrationtypecom</name>
        <label>registrationtypecom</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>spectatorassign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>spectator</defaultConnectorLabel>
        <rules>
            <name>Competitor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>singleLead.Registration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Competitor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCountry</targetReference>
            </connector>
            <label>Competitor</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>leadcountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>daysToEventFormula</name>
        <dataType>Number</dataType>
        <expression>{!eventDate}-{!$Flow.CurrentDate}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Experience - FlowFest Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Experience - FlowFest Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createlead</name>
        <label>createlead</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>stageAssignment</targetReference>
        </connector>
        <inputReference>singleLead</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getLeads</name>
        <label>getLeads</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>counterAssignment</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Experience_FlowFest_Registration_v2_0_Screen_Flow</name>
        <label>Experience - FlowFest Registration v2.0 - Screen Flow</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>singleLeadAssignment</targetReference>
        </connector>
        <fields>
            <name>stagedd</name>
            <extensionName>CWCHRT3:FlowStage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Experience_FlowFest_Registration_v2_0_Screen_Flow_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Experience_FlowFest_Registration_v2_0_Screen_Flow_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 26px; font-family: Lato; color: rgba(0, 0, 0, 0.8);&quot;&gt;Let&apos;s Sign Up.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Experience_FlowFest_Registration_v2_0_Screen_Flow_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Welcome to FlowFest: hosted by Ohanaly &amp;amp; Salesforce Ben! This will be a&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;live-stream, hack-a-thon style, 50 minute competition&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;where participants will be competing against other Trailblazers from across the world for prizes!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;There will be prizes for both participants and spectators!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;When is it?&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;February 22nd, 2023 - 12pm US Eastern (9am US Pacific, 5pm London)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Who should spectate?&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;This will be an event for&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;all&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;Trailblazers. In addition to the competition, we&apos;ll be covering features in the upcoming Salesforce Release, pop quizzes with prizes for our viewers, and much more as we keep an eye on the progress of the participants in the competition.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Who should compete?&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Anyone can apply. Remember that this is a flow competition, so if you have successfully put together a handful of flows, you&apos;ll likely have some fun in this competition.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Experience_FlowFest_Registration_v2_0_Screen_Flow_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Experience_FlowFest_Registration_v2_0_Screen_Flow_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Experience_FlowFest_Registration_v2_0_Screen_Flow_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>daystoevent</name>
                    <fieldText>&lt;p&gt;Total Registration&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;{!leadCounter}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Experience_FlowFest_Registration_v2_0_Screen_Flow_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>daysdisplay</name>
                    <fieldText>&lt;p&gt;         Days To Event&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;{!eventDate}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>texttt</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255); font-family: Lato;&quot;&gt;You can register below either as a&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255); font-family: Lato;&quot;&gt;Competitor&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255); font-family: Lato;&quot;&gt;or as a&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255); font-family: Lato;&quot;&gt;Spectator&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255); font-family: Lato;&quot;&gt;&amp;nbsp;to attend.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>singleLead.Registration_Type__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>singleLead.Email</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>singleLead.Name</objectFieldReference>
        </fields>
        <fields>
            <name>Experience_FlowFest_Registration_v2_0_Screen_Flow_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Experience_FlowFest_Registration_v2_0_Screen_Flow_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>prizewinnertext</name>
                    <fieldText>&lt;table class=&quot;ql-table-blob&quot; style=&quot;color: rgba(0, 0, 0, 0.8); font-family: Lato; background-color: rgb(255, 255, 255);&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;th rowspan=&quot;1&quot; colspan=&quot;1&quot; style=&quot;padding: var(--lwc-spacingXSmall,0.5rem); background-color: rgb(51, 153, 153); color: white; width: 213.062px;&quot;&gt;Prize Winner&lt;/th&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Lato; color: rgba(0, 0, 0, 0.8);&quot;&gt;Top 4 Finishers&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Experience_FlowFest_Registration_v2_0_Screen_Flow_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Prizetext</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; style=&quot;color: rgba(0, 0, 0, 0.8); font-family: Lato; background-color: rgb(255, 255, 255);&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;th rowspan=&quot;1&quot; colspan=&quot;1&quot; style=&quot;padding: var(--lwc-spacingXSmall,0.5rem); background-color: rgb(51, 153, 153); color: white; width: 220.266px;&quot;&gt;Prize&lt;/th&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Lato; color: rgba(0, 0, 0, 0.8);&quot;&gt;Salesforce Exam Cert Voucher&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>singleLead.Registration_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Competitor</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Experience_FlowFest_Registration_v2_0_Screen_Flow_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Experience_FlowFest_Registration_v2_0_Screen_Flow_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>sss</name>
                    <fieldText>&lt;table class=&quot;ql-table-blob&quot; style=&quot;color: rgba(0, 0, 0, 0.8); font-family: Lato; background-color: rgb(255, 255, 255);&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;th rowspan=&quot;1&quot; colspan=&quot;1&quot; style=&quot;padding: var(--lwc-spacingXSmall,0.5rem); background-color: rgb(51, 153, 153); color: white; width: 215.781px;&quot;&gt;Prize Winner&lt;/th&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Lato; color: rgba(0, 0, 0, 0.8);&quot;&gt;Spectators&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Experience_FlowFest_Registration_v2_0_Screen_Flow_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ddd</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; style=&quot;color: rgba(0, 0, 0, 0.8); font-family: Lato; background-color: rgb(255, 255, 255);&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;th rowspan=&quot;1&quot; colspan=&quot;1&quot; style=&quot;padding: var(--lwc-spacingXSmall,0.5rem); background-color: rgb(51, 153, 153); color: white; width: 217.547px;&quot;&gt;Prize&lt;/th&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Lato; color: rgba(0, 0, 0, 0.8);&quot;&gt;Free Flow Courses via Trivia on Livestream&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>singleLead.Registration_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Spectator Only</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_country_are_you_representing_supporting_i_e_your_nationality_residence_etc</name>
            <choiceReferences>leadcountry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What country are you representing/supporting? (i.e. your nationality/residence, etc)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>singleLead.Registration_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Competitor</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Cheer_on_your_colleagues_what_country_are_you_supporting_i_e_your_nationality_re</name>
            <choiceReferences>leadcountry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cheer on your colleagues: what country are you supporting? (i.e. your nationality/residence, etc)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>singleLead.Registration_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Spectator Only</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>texts</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;*The number of slots for participants is limited to this event. I understand that by clicking Submit, my participation is not guaranteed. Ohanaly &amp;amp; Salesforce Ben will reach out afterwards to confirm my participation in this event.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>singleLead.Registration_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>--None--</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Represent_Support_your_Company_See_your_company_in_the_leaderboard_against_other</name>
            <dataType>String</dataType>
            <fieldText>Represent/Support your Company! See your company in the leaderboard against other companies! What company are you representing?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>singleLead.Registration_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>--None--</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>texss</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255); font-family: Lato;&quot;&gt;Equality&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255); font-family: Lato;&quot;&gt;is one of the four pillars for Salesforce&apos;s company culture, and we want to follow that example at FlowFest to give everyone a fair chance. It&apos;s a voluntary disclosure, and feel free to select&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255); font-family: Lato;&quot;&gt;Other&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255); font-family: Lato;&quot;&gt;&amp;nbsp;if we missed any values as we try to be more inclusive with a global value set for these choices.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>singleLead.Registration_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>--None--</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>singleLead.Gender__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>singleLead.Registration_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>--None--</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>singleLead.Race__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>singleLead.Registration_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>--None--</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>sontext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(81, 94, 89); font-family: Lato;&quot;&gt;By submitting this form you are agreeing to receive future updates regarding FlowFest and our&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.salesforceben.com/privacy-policy/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(0, 86, 173); font-family: Lato;&quot;&gt;privacy policy&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(81, 94, 89); font-family: Lato;&quot;&gt;. In addition, this screen flow was put in part with components from the amazing free packages from the folks over at UnofficialSF. We appreciate the folks over there that do tremendous work for the Salesforce Ohana!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sonekran</name>
        <label>sonekran</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>asd</name>
            <extensionName>CWCHRT3:FlowStage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>sondisplay</name>
            <fieldText>&lt;p&gt;thanks {!singleLead.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Confirmation</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Registration</name>
        <isActive>true</isActive>
        <label>Registration</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getLeads</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>eventDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2023-04-22</dateValue>
        </value>
    </variables>
    <variables>
        <name>leadCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>singleLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
